<div class="container">
  <div class="new-form">
    <h1>Add a recipe to <%= @category.name %></h1>

    <%= simple_form_for [@category, @bookmark] do |f| %>
      <%= f.association :recipe %>
      <%= f.input :comment %>
      <%= f.submit 'Add' %>
    <% end %>
  </div>

  <%= link_to "Return to all #{@category.name} recipes", category_path(@category), class: "button" %>
</div>
